<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>index</title>
        <!-- // you CDN -->
        <script src="../lib/rem.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdn.bootcss.com/vue/1.0.17/vue.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="app">
            <p>
                <a v-link="{ path: '/foo' }">Go to Foo</a>
                <a v-link="{ path: '/bar' }">Go to Bar</a>
            </p>
            <router-view></router-view>
        </div>
    </body>
</html>
